div {
  background-color: #dcdcdc;
  margin: 10px;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  color: black;
}
p,
li {
  font-size: 18px;
}
.footer-copyrigth {
  text-align: center;
  padding-left: 3px;
  padding-bottom: 10px;
}
