<footer>
  <div>
    <section>
      <h2>Sobre</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
        aut, obcaecati nihil eum reprehenderit voluptatum ab inventore omnis
        voluptatem consectetur quo sint minima ducimus nam? Sequi tenetur quos
        laudantium possimus?
      </p>
    </section>
    <address>
      <h2>Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i>(00) 00000-0000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer-copyrigth">
    Feito por Mayara Guedes <i class="fa-solid fa-heart"></i> &copy; Todos os
    direitos reservados.
  </section>
</footer>
